/* Overall layout */
* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    color: #1e0f01;
}
html, body {
    height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
#footer, #push {
	height: 142px; /* .push must be the same height as .footer */
    clear: both;
}
#footer_inner {
    max-width: 700px;
    margin: 0px auto;
    border-top: 3px solid #34b8ba;
}
h2, h3, h4, h5, h6 {
    font-size: 1.3em;
    font-weight: normal;
    padding: 10px 0px;
}
h1, h1 a {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0px;
    text-align: center;
    color: #34b8ba;
    color: #006466;
}
h2 {
    font-family: Georgia, serif;
    padding: 20px 0px;
    padding-bottom: 10px;
}
#main h2 {
    font-size: 1.6em;
}
p {
    line-height: 1.2em;
    padding: 7px 0px;
}
a {
    color: #aa0000;
    text-decoration: none;
}
a:hover {
    color: #aa00b1;
}
li {
    list-style: none;
}
input, button {
    display: block;
    padding: 3px 5px;
    border: 1px solid #424242;
    border-radius: 3px;
    cursor: pointer;
    margin: 1px 0px;
}
input.radioButton {
    display: inline;
}
button {
    margin: 10px 0px;
}
input, textarea {
    cursor: text;
}
#container {
    max-width: 920px;
    margin: 0px auto;
}
#main {
    max-width: 700px;
    min-width: 100px;
    margin-left: 10px;
    margin-bottom: 100px;
    margin-top: 40px;
    float: left;
    //border-top: 3px solid #34b8ba;
}
#side {
    width: 180px;
    padding-right:20px;
    float: left;
}

/* Nav */ 
#nav {
    margin: 2px 0px;
}
#nav li {
    list-style: none;
    border-radius: 6px;
    padding: 2px 4px;
    margin: 4px 0px;
}
#nav li.current {
    border: 2px solid #34b8ba;
    background-color:#e6fbff;
}
#nav h3 {
    padding-top:20px;
    padding-bottom: 0px;
    text-align: left;
}
#nav a {
    font-weight: normal;
}


/* settings_nav */ 
#settings_nav {
    margin: 2px 0px;
    margin-right: 60px;
    text-align: right;
}
#settings_nav li {
    display: inline;
    list-style: none;

    border-radius: 6px;
    padding: 2px 4px;
    margin: 4px 0px;
}

#settings_nav li.current {
    border: 2px solid #34b8ba;
    background-color:#e6fbff;
}
#settings_nav a {
    padding: 2px 8px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 0.8em;
}


/* Footer */
#footer {
    font-size: 0.8em;
    text-align: center;
    margin: 5px 0px;
    padding: 5px 0px;
    clear: both;
}

/* Header */
#header img {
    width: 120px;
    height: auto;
}

/* Splash home page */
div.fancy {
    border-radius:5px;
    border: 3px solid #34b8ba;
    text-align: center;
    width: 150px;
    float: left;
    padding: 10px;
    padding-bottom: 20px;
    margin: 20px;
    background-image: url('/home/katie/prog/foofurple_feeds/media/images/default.png');
    background-size: 100% 100%;
}

/* ----------------------------------------------------------- Specific styles */

#newFeedFoo, #addStream, #saveAllChanges {
    padding:10px;
    padding-top:5px;
    background-color: white;
    border:3px solid grey;
    border-radius: 5px;
    position:fixed;
    top:10px;
    left:10px;
    z-index:2;
    display: none;
}
#newFeedFooClose, #addStreamClose, #saveAllChangesClose {
    cursor: pointer;
    float: right;
}
.streamItem {
    border-top: 3px solid #34b8ba;
}
div.feed_icon {
    width: 80px;
    float: left;
}
div.default_icon {
    background-image: url('/home/katie/prog/foofurple_feeds/media/images/default.png');
    padding: 3px;
    min-height: 60px;
    text-align: center;
    border: 3px solid #34b8ba;
    border-radius: 3px;
}
div.default_icon a {
    font-size: 0.8em;
}
div.feed_icon img {
    max-width: 80px;
    height: auto;
    border: 3px solid #34b8ba;
    border-radius: 3px;
}
div.item_main {
    max-width: 800px;
    margin-left: 100px;
}
div.item_main img {
    max-width: 500px;
    height: auto;
}
div.item_meta {
    font-size: 0.8em;
    padding-bottom: 10px;
    padding-top: 3px;
}
div.item_meta a {
    font-size: 1.4em;
}
div.item_main_main {
}
div.wp-caption {
    font-size: 0.8em;
}
div.enclosures {
    font-size: 0.8em;
    padding-top: 5px;
}
div.read_more {
    padding-top: 20px;
    padding-bottom: 3px;
    font-size: 0.8em;
    text-align: right;
}
div.list_item {
    font-size: 0.8em;
}
div.list_item img {
    width: 40px;
    height: 40px;
}
.remove_stream, .remove_feed {
    font-size: 0.6em;
    color: red;
    cursor: pointer;
)
div.stream {
    margin: 20px 0px;
    padding: 20px 0px;
    clear: both;
}
.msg {
    color: blue;
    font-weight: bold;
}

