/* Overall layout */
* {
    margin: 0px;
    padding: 0px;
}
body {
    max-width:900px;
    margin: 0px auto;
    background-color: #f0f3db;
}
#header img {
    width: 150px;
    height: auto;
}
#main {
    max-width: 900px;
    min-width: 100px;
    margin-left: 10px;
    margin-bottom: 100px;
    float: left;
    border-top: 2px solid #bbbbbb;
}
#footer {
    clear: both;
}

/* Typography */
body {
    font-family: Helvetica, sans-serif;
    color: #1e0f01;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 5px;
    text-align:right;
}
h2, h3, h4, h5, h6 {
    font-size: 1.3em;
    font-weight: normal;
    padding: 5px 0px;
}
p {
    line-height: 1.2em;
    padding: 3px 0px;
}
a {
    color: #aa0000;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #aa00b1;
}

/* Nav */ 
#nav {
    margin: 10px 0px;
}
#nav li {
    display: inline;
    list-style: none;
}
#nav a {
    padding: 3px 30px;
    padding-left: 0px;
    border-radius: 3px;
    //font-size: 1.2em;
    font-weight: normal;
}

/* Footer */
#footer {
    font-size: 0.8em;
    text-align: center;
    margin: 5px 0px;
    padding: 5px 0px;
}

/* Specific styles */
.streamItem {
    border-bottom: 2px solid #bbbbbb;
    border-radius: 5px;
}
div.feed_icon {
    width: 80px;
    float: left;
}
div.default_icon {
    background-image: url('default.png');
    padding: 3px;
    min-height: 60px;
    text-align: center;
}
div.default_icon a {
    font-size: 0.8em;
}
div.feed_icon img {
    max-width: 60px;
    height: auto;
}
div.item_main {
    max-width: 800px;
    margin-left: 100px;
}
div.item_main img {
    max-width: 200px;
    height: auto;
}
div.item_meta {
    font-size: 0.8em;
    padding-bottom: 10px;
    padding-top: 3px;
}
div.item_meta a {
    font-size: 1.4em;
}
div.item_main_main {
}
div.wp-caption {
    font-size: 0.8em;
}
div.enclosures {
    font-size: 0.8em;
    padding-top: 5px;
}
div.read_more {
    padding-top: 20px;
    padding-bottom: 3px;
    font-size: 0.8em;
    text-align: right;
}
div.list_item {
    font-size: 0.8em;
}
div.list_item img {
    width: 40px;
    height: 40px;
}
.removeFeed {
    font-size: 0.8em;
    color: red;
    cursor: pointer;
)
