<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"></meta>
<title>
{% block title %} {% endblock %}
</title>
<link rel="stylesheet" type="text/css" href="{{ GLOBS.MEDIA_DIR }}css/style.css"></link>

{% block javascript %} {% endblock %} 

</head>
<body onload="init()">

<div id="wrapper">

<div id="container">

<div id="side">
    <a href="{{ GLOBS.OUTPUT_DIR }}index.html">
        <img src="{{ GLOBS.MEDIA_DIR }}images/dinoLogo.png" 
            alt="Cute baby dinosaur logo">
    </a>
    <br>
    <h1><a href="index.html">Feed Reader</a></h1>

    <div id="nav">

        {% block nav %} {% endblock %}

    </div> <!--#nav-->

</div>

<div id="settings_nav">
    {% block settings_nav %} {% endblock %}
</div> <!--#settings_nav-->


<div id="main">
    {% block main_content %} {% endblock %}
</div> <!--#main-->


</div> <!--#container-->


<div id="push"></div>

</div> <!-- close wrapper --> 

<div id="footer">
<div id="footer_inner">
<p>This is the bottom of the page. Thanks for reading!</p>
</div>
</div>

</body>
</html>
