<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>
{% block title %} {% endblock %}
</title>

<meta name="description" content="DESCRIPTION GOES HERE">

<link rel="icon" type="image/png" href="{{ GLOBS.ICON_PATH }}">
<link rel="stylesheet" type="text/css" href="style.css"></link>

{% block javascript %} {% endblock %} 

</head>
<body onload="init()">

<div id="wrapper">

<div id="container">

<div id="settings_nav">
    {% block settings_nav %} {% endblock %}
</div> <!--#settings_nav-->

<div style="clear:both;"></div>

<div id="side">
    <a href="index.html">
        <img src="{{ GLOBS.LOGO_PATH }}" 
            alt="Cute baby dinosaur logo">
    </a>
    <br>
    <h1><a href="index.html">Foofurple Feed Reader</a></h1>

    <div id="nav">

        {% block nav %} {% endblock %}

    </div> <!--#nav-->

</div>

<div id="main">
    {% block main_content %} {% endblock %}
</div> <!--#main-->


</div> <!--#container-->


<div id="push"></div>

</div> <!-- close wrapper --> 

<div id="footer">
<div id="footer_inner">
<p>{{ footer }}</p>
</div>
</div>


</body>
</html>
