{% extends "base.html" %}

{% block title %} 

Feed Reader

{% endblock %}

{% block settings_nav %}
<ul>
    <li class='current'><a href='index.html'>Sets of Feeds</a></li>
    <li><a href='settings.html'>Settings</a></li>
    <li><a href='about.html'>About</a></li>
</ul>
{% endblock %}


{% block main_content %}

<h2>Sets of Feeds:</h2>

<ul>

    {% for s in streams %}

    <div class='fancy'>
        <h3><a href='{{ s.filepath }}'>{{ s.title }}</a></h3>
    </div> <!--.fancy-->

    {% endfor %}

</ul>

{% endblock %}







