{% extends "base.html" %}


{% block title %} 

Settings | Feed Reader

{% endblock %}



{% block javascript %}

<script type='text/javascript' src='{{ GLOBS.JS_DIR }}utils.js'></script>
<script type='text/javascript' src='{{ GLOBS.JS_DIR }}jsonFoo.js'></script>
<script type='text/javascript' src='{{ GLOBS.JS_DIR }}settings.js'></script>

{% endblock %}



{% block settings_nav %} 

<ul>
    <li><a href='index.html'>Sets of Feeds</a></li>
    <li class='current'><a href='settings.html'>Settings</a></li>
    <li><a href='about.html'>About</a></li>
</ul>

{% endblock %}


{% block main_content %}

<h2>Settings</h2>

<p>This is the place to add and remove feeds. If you wish, you can group the feeds that you want to be displayed together in sets.</p>

<p>Once you're satisfied with your changes, click SAVE ALL CHANGES at the bottom of this page, and you'll
be prompted to save a settings file.</p>

<p>If you don't want to save your changes, just reload this page to start anew.</p>

<div id="newFeed">
    <p id="newFeedClose" onclick="newFeedClose()"><img src='{{ GLOBS.IMAGES_DIR }}close_icon.png' alt='close'></p>
    <h3>Add a new feed:</h3>
    <p>
        Feed url:
        <input type='text' id="feedNameButton" />
        <button onclick="addFeed()">Submit</button>
    </p>

    <input type="hidden" id="newFeedStreamName" value="None">

</div>
<div id="addStream">
    <p id="addStreamClose" onclick="addStreamClose()"><img src='{{ GLOBS.IMAGES_DIR }}close_icon.png' alt='close'></p>
    <h3>Add a new set of feeds:</h3>
    <p>
        Name:
        <input type='text' id="newStreamName" />
        <button onclick="addStream()">Submit</button>
    </p>
</div>
<div id="saveAllChanges">
    <p id="saveAllChangesClose" onclick="saveAllChangesClose()"><img src='{{ GLOBS.IMAGES_DIR }}close_icon.png' alt='close'></p>
    <h3>Save all changes</h3>
    <p>To save your changes, please right-click the file below and 
        save it as {{ GLOBS.JS_DIR }}jsonFoo.js. You'll probably
        need to overwrite an existing file.</p>
    <p><a id="saveAllChangesLink" href="">
        <img src='{{ GLOBS.IMAGES_DIR }}save.png' alt='save'>
    Save all changes</a></p>
</div>

<div id="streamsGoHere">
</div> <!--#streamsGoHere-->

<button id="addStreamButton" onclick='displayAddStream()'>New Set of Feeds</button>
<button class='bigButton' onclick='saveAllChanges()'>SAVE ALL CHANGES</button>

{% endblock %}

